@CHARSET "ISO-8859-1";

@mixin input-placeholder {
		&.placeholder { @content; }
		&:-moz-placeholder { @content; }
		&::-moz-placeholder { @content; }
		&:-ms-input-placeholder { @content; }
		&::-webkit-input-placeholder { @content; } 
}

@import "foundation/settings";
@import "foundation/components/offcanvas";

@import "transform/animateReplace.jquery";

@import "font-awesome";
@import "font-awesome/variables";

@import "flexbox/flexbox";

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328; 
$purple: #2a1f26;
$white: #f9f9f9;
$blue: #66B9E3;
$charcoal: #323232;

$quarter: 13.8125rem;
$med-gutter: 2.01rem;
$med-small-gutter: 1.245rem;
$small-gutter: 0.769rem;

$default-text-shadow-color: rgba(70,70,70,.5);
$default-text-shadow-blur: 6px;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-h-offset: 2px;

$OpenSans: "OpenSans", "OpenSans_IE";
$OpenSansLt: "OpenSansLt", "OpenSansLt_IE";

@include font-face("OpenSans", font-files("../../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf"));
@include font-face("OpenSansLt", font-files("../../fonts/opensans-light-webfont.ttf", "../fonts/opensans-light-webfont.woff", "../fonts/opensans-light-webfont.eot", "../fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLt_IE", font-files("../../fonts/opensans-light-webfont.ttf", "../fonts/opensans-light-webfont.woff", "../fonts/opensans-light-webfont.eot", "../fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLtCn", font-files("../fonts/OpenSans-CondLight.ttf", "examples/bgrove.otf"));
@include font-face("OpenSans_IE", font-files("../fonts/opensans-regular-webfont.eot", "examples/bgrove.otf"));



html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:$OpenSansLt;
}

div, figure, ul, li {
	padding:0;
	margin:0;
	border:0px;
	/*@include box-sizing(border-box)*/
	
}

.section {
		
}

p {
	margin:0;
	padding:0;
	@include box-sizing(border-box)
}

h1, h2, h3, h4 {
	font-family:$OpenSansLt;
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:0;
	@include box-sizing(border-box);
	display:block;
}

h1 {
	font-size:1.85em;
}

h2 {
	font-size:1.55em;
}

h3 {
	font-size:1.25em;
}

/////////////////////////////////////
//////// End Standard Reset /////////
/////////////////////////////////////

.stripe {
	text-align:center;
	position:relative;
	padding:$med-gutter;
	padding-bottom: calc( #{$med-gutter} * 2 );
}

.one {
	background-color:lightgrey;
	min-height:500px;
}

.one h2 {
	
}

.one h1 {
	
}

.arrow {
	background-color:$red;
	height:32px;
	width:110px;
	position:absolute;
	bottom:0;
	left:calc(50% - 55px);
	margin-bottom:$small-gutter;
	
}

.two {
	
}

.two h2 {
	max-width:300px;
	margin:0 auto;
}

.two ul {
	list-style-type:none;
	margin:0 auto;
	width:$quarter;
	margin-top:$med-gutter;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;   
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
	/*-webkit-column-rule:2.01em solid white;*/
	@include flexbox();
	//@include flex-direction(row);
	
	&  li {
		display:block;
		@include flex(1 calc(100% - #{$med-gutter}));
		/*margin-top:$med-gutter;*/
		font-size:1.2em;
		max-width:$quarter;
		line-height:1.2em;
		text-align:left;
		background-color:white;
		margin:calc(#{$med-gutter} / 2);
		position:relative;
		/*&:first-child {
		border-top: $blue 1px solid;
		padding-top:$med-gutter;
		
		}*/
	}
	
	& li:first-child {
		border-top: $blue 1px solid;
	}
	
	&  li:after {
		@include flex(1 100%);
		content:"&nbsp;";
		line-height:0;
		height:10px;
		background-color:rgba($charcoal,.25);
		display:none;
		
	}
}



.two li:nth-child( n + 5 ) {
	display:none;
}

.three {
	background-color:lightgrey;
}

.three h2:first-child {
	margin-bottom:$small-gutter;
}

.four h2 {
	
}

.tile-featured-products {
	& li {
		display:inline-block;
		width:$quarter;
		height:calc( 1.5 * #{$quarter});
		display: inline-block;
		margin:calc(#{$med-gutter} / 2);
		position:relative;
		@include transition-property(width height left);
		@include transition-timing-function(ease);
		@include transition-duration(0.250s);
		
		&:after {
			
		}
		/*	Handle the focus with :target	*/
		&.clicked:target {
			width:calc(100% + #{$med-gutter * 3});
			left:#{$med-gutter * -2};
		}
		/*	First 4 tiles styles!	*/
		&:nth-child(1) {
			background-color:teal;
		}
		&:nth-child(2) {
			background-color:$yellow;
		}
		&:nth-child(3) {
			background-color:grey;
		}
		&:nth-child(4) {
			background-color:$red;
		}
		/*	All other tiles hidden	*/
		&:nth-child(n+5) {
			background-color:$black;
			display:none;
		}
		/*	Now for the content styling	*/
		& .shader {
			position:absolute;
			bottom:0;
			width:100%;
			height:55px;
			background-color:rgba($charcoal, .55);
			
			& h3 {
				color:#fff;
				padding-top:$small-gutter;
				line-height:1em;
			}
		}
	}
	
}

.f4 {
	display:none;
}

@media (min-width:575px) {
	.two { 
		& li:first-child {
		}
		
		& li:nth-child( -n + 8 ) {
			display:block;	
		}
		
		& li:nth-child(2) {
			border-top:$blue 1px solid;
		}
	}
}
@media (min-width:575px) and (max-width:850px) {
	.two ul {
	width: calc(2 * #{$quarter} + #{$med-gutter});
		
		& li {
			@include flex(1 calc(50% - #{$med-gutter}));
		}
	}
	
	.featured {
		&.f4 {
			display:inline-block;
		}
	}
	
}

@media (min-width:850px) and (max-width:1107px) {
	.two ul {
		width: calc(3 * #{$quarter} + #{$med-gutter} * 2);
	}
	
	.two {
		& ul li {
			@include flex(1 calc(33% - #{$med-gutter}));
			
			&:nth-child(3) {
				border-top:solid $blue 1px;
				
				&:after {
				}
			}
		}
		
		& li:nth-child(n) {
			display:block;
		}
		
		/*& li:nth-child {
			padding-top:$med-gutter;
			border-top:$blue 1px solid;
			top:-1px; 
		}*/	
	}
	
	.featured {
		&.f4 {
			display:none;
		}
	}
	
}

@media (min-width:1107px) {
	.featured {
		&.f4 {
			display:inline-block;
		}
	}
	.two {
		& ul {
			width: calc(4 * #{$quarter} + #{$med-gutter} * 3);
		
			& li {
				@include flex(1 calc(25% - #{$med-gutter}));
				
				&:nth-child(-n + 4) {
					border-top:solid $blue 1px;
					
				}
				&:nth-child(9) {
					display:none;
				}
			}
		}
	}
}


























