@CHARSET "ISO-8859-1";

@mixin input-placeholder {
		&.placeholder { @content; }
		&:-moz-placeholder { @content; }
		&::-moz-placeholder { @content; }
		&:-ms-input-placeholder { @content; }
		&::-webkit-input-placeholder { @content; } 
}

@import "foundation/settings";
@import "foundation/components/offcanvas";

@import "transform/animateReplace.jquery";

@import "font-awesome";
@import "font-awesome/variables";

@import "flexbox/flexbox";

$green: rgba(#3c5346,1);
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$grey: #D3D3D3;
$purple: #2a1f26;
$white: #f9f9f9;
$blue: #66B9E3;
$teal: rgb(0,128,128);
$charcoal: #323232;
$charcoal1: #383838;

$quarter: 13.8125rem;
$med-gutter: 2.01rem;
$med-small-gutter: 1.245rem;
$small-gutter: 0.769rem;

$default-text-shadow-color: rgba(70,70,70,.5);
$default-text-shadow-blur: 6px;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-h-offset: 2px;

$default-box-shadow-color: $black;
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: -80px;
$default-box-shadow-blur: 80px;
$default-box-shadow-spread: 0px;
$default-box-shadow-inset: inset;

$OpenSans: "OpenSans", "OpenSans_IE";
$OpenSansLt: "OpenSansLt", "OpenSansLt_IE";

$media-break-0: "I`m not needed because you don`t media query everything!!";
$media-break-1: "min-width:575px";
$media-break-1-only: $media-break-1, " and max-width:850px";
$media-break-2: "min-width:850px";
$media-break-2-only: $media-break-2, " and max-width:1107px";

@include font-face("OpenSans", font-files("../../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf"));
@include font-face("OpenSansLt", font-files("../../fonts/opensans-light-webfont.ttf", "../../fonts/opensans-light-webfont.woff", "../fonts/opensans-light-webfont.eot", "../fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLt_IE", font-files("../../fonts/opensans-light-webfont.ttf", "../../fonts/opensans-light-webfont.woff", "../fonts/opensans-light-webfont.eot", "../fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLtCn", font-files("../fonts/OpenSans-CondLight.ttf", "examples/bgrove.otf"));
@include font-face("OpenSans_IE", font-files("../fonts/opensans-regular-webfont.eot", "examples/bgrove.otf"));



html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:$OpenSansLt;
}

div, figure, ul, li {
	padding:0;
	margin:0;
	border:0px;
	/*@include box-sizing(border-box)*/
	
}

a {
	color:$blue;
	font-family: $OpenSansLt;
	font-size: 1.1rem;
}

.section {
		
}

p {
	margin:0;
	padding:0;
	@include box-sizing(border-box)
}

h1, h2, h3, h4 {
	font-family:$OpenSansLt;
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:0;
	@include box-sizing(border-box);
	display:block;
}

h1 {
	font-size:2rem;
}

h2 {
	font-size:1.55rem;
}

h3 {
	font-size:1.25rem;
}

.cursor-pointer {
	cursor:pointer;
}

/////////////////////////////////////
//////// End Standard Reset /////////
/////////////////////////////////////

.stripe {
	text-align:center;
	position:relative;
	padding:$med-gutter;
	/*padding-bottom: calc( #{$med-gutter} * 2 );*/
}

.one {
	background-color:lightgrey;
	min-height:500px;
}

.one h2 {
	
}

.four h1 {
	margin-bottom:#{$med-gutter / 2};
}

.arrow {
	display:none;
	background-color:$red;
	height:32px;
	width:110px;
	position:absolute;
	bottom:0;
	left:calc(50% - 55px);
	margin-bottom:$small-gutter;
	
}

.two {
	
}

.two h2 {
	max-width:300px;
	margin:0 auto;
}

.two ul {
	list-style-type:none;
	margin:0 auto;
	width:$quarter;
	margin-top:$med-gutter;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;   
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
	/*-webkit-column-rule:2.01em solid white;*/
	@include flexbox();
	//@include flex-direction(row);
	
	&  li {
		display:block;
		@include flex(1 calc(100% - #{$med-gutter}));
		/*margin-top:$med-gutter;*/
		font-size:1.2em;
		max-width:212px;
		line-height:1.2em;
		text-align:left;
		background-color:white;
		margin:calc(#{$med-gutter} / 2);
		position:relative;
		/*&:first-child {
		border-top: $blue 1px solid;
		padding-top:$med-gutter;
		
		}*/
	}
	
	& li:first-child {
		padding-top: #{ $med-gutter / 2 };
		border-top: $blue 1px solid;
	}
	
	& li:after {
		@include flex(1 100%);
		content:"&nbsp;";
		line-height:0;
		height:10px;
		background-color:rgba($charcoal,.25);
		display:none;
		
	}
}



.two li:nth-child( n + 5 ) {
	display:none;
}

.three {
	background-color:$charcoal;
	color:#fff;
}

.three h2 {
	color:#fff;
	
	& a {
		font-size:1.55rem;
	}
}

.three h2:first-child {
	margin-bottom:$small-gutter;
}

.four h2 {
	
}

.tile-featured-products {
	& li {
		display:inline-block;
		width:$quarter;
		height:calc( 1.5 * #{$quarter});
		display: inline-block;
		margin:calc(#{$med-gutter} / 2);
		padding-top:calc(55px + #{$med-gutter});
		z-index:1;
		position:relative;
		background-size:cover;
		overflow:hidden;
		
		@include transition-property(width height margin padding left z-index);
		@include transition-timing-function(ease);
		@include transition-duration(0.250s);
		
		/*	Styling for contents of the internal anchor	*/
		& > a {
			display:block;
		}
		/*	Styling for contents of the tile (hidden initially)	*/
		& h2 {
			font-size: 1.55rem;
			color:#fff;
		}
		& p {
			text-align: left;
			margin: 1rem;
			text-decoration:none;
			color:#fff;
			max-height: calc( 100% - 1.55rem - #{$med-gutter} - 1rem );
			overflow:hidden;
			z-index:1;
		}
		&.clicked p:after {
			content:"";
			z-index:200;
			@include box-shadow();
			height: 160px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		& .close-featured-tile {
			position: absolute;
			top: 55px;
			right:0;
			padding:0.25rem;
			height: 3rem;
			width: 3rem;
			font-size: 1.5rem;
			background-color:$charcoal;
			border: 2px solid $white;
			z-index:-1;
			
			@include transition-property(opacity);
			@include transition-timing-function(ease);
			@include transition-duration(0.250s);
			
			@include opacity(0);
		}
		&:target .close-featured-tile {
			@include opacity(1);
			z-index:500;
		}
		
		/*	"more info" buttons	*/
		& button {
			position: absolute;
			bottom: $med-gutter;
			left: calc( 50% - #{$quarter / 4} );
			padding:0;
			padding-top:3px;
			margin: #{$med-gutter / 2} auto;
			z-index: 400;
			height:2.3rem;
			width:#{$quarter / 2};
			color:$blue;
			background-color:transparent;
			border:1px solid $blue;			
			
			//background-color:$charcoal;
		  	//@include background-image(linear-gradient(to bottom right, $charcoal, black));	/*	Unknown why compass throws an error at this. It is right.	*/
		 	 /*@include border-radius(1rem);*/
		 	 //border: 3px solid $blue;
		  
			box-sizing:border-box;
			min-height:32px;
			
			@include opacity(0);
			@include transition-property(opacity);
			@include transition-timing-function(ease);
			@include transition-duration(0.750s);
			
			&:hover {
			  //@include background-image(linear-gradient(to bottom right, black, $charcoal));	/*	Unknown why compass throws an error at this. It is right.	*/
			  border: 1px solid $white;
			
				& a {
					color:#fff;
				}
			}
			& a {
				color:$white;
				height:100%;
				width:100%;
				display:block;
				line-height:1.6em;
			}
		}
		/*	Background images (shown initially, hidden with click)	*/
			&:hover {
				background:transparent;
				
			}
		&:after {
			content: "";
			@include opacity(1);
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: 1;   
			background-size:cover;
			background-image: attr(data-course-background url) !important;
			
			@include transition-property(opacity z-index);
			@include transition-timing-function(ease);
			@include transition-duration(0.750s);
		}
		/*	Handle the focus with :target ... or not	*/
		&:target, &.clicked {
			width:calc( 100% + #{ $med-gutter * 2 } );
			left:#{ $med-gutter * -1.5 };
			
			&:after {
				opacity:0;
				z-index:0;
			}
			& button {
				@include opacity(0.85);
				z-index:400;
			}
			& .shader {
				/*bottom:calc( 1.5 * #{$quarter} - 55px);*/
				top:0;
			}
		}
		
		&:nth-child(n) {
			color:#fff;
			background-color: $charcoal1;
			& p:after {
				@include box-shadow($default-box-shadow-h-offset $default-box-shadow-v-offset $default-box-shadow-blur $default-box-shadow-spread $charcoal1 inset);
			}
		}		
		/*	First 4 tiles styles!	*/
		&:nth-child(1) {
			&:after {
				background-image: url(../img/placeholders/placeholder1.jpg);
			}
		}
		&:nth-child(2) {
		
			&:after {
				background-image: url(../img/placeholders/placeholder2.jpg);
			}
		}
		&:nth-child(3) {
			&:after {
				background-image: url(../img/placeholders/placeholder3.jpg);
			}
		}
		&:nth-child(4) {
			&:after {
				background-image: url(../img/placeholders/placeholder4.jpg);
			}
		}
		&:nth-child(5) {
			&:after {
				background-image: url(../img/placeholders/placeholder5.jpg);
				
			}
		}
		&:nth-child(6) {
			&:after {
				background-image: url(../img/placeholders/placeholder6.jpg);
				
			}
		}
		&:nth-child(7) {
			&:after {
				background-image: url(../img/placeholders/placeholder7.jpg);
				
			}
		}
		&:nth-child(8) {
			&:after {
				background-image: url(../img/placeholders/placeholder8.jpg);
				
			}
		}
		/*	All other tiles hidden	*/
		&:nth-child(n+5) {
			display:none;
		}
		/*	Now for the content styling	*/
		& .shader {
			position:absolute;
			top:calc( (1.5 * #{ $quarter} ) - 55px );
			left:0;
			width:100%;
			height:55px;
			background-color:rgba($charcoal, .55);
			z-index: 3;   
			@include transition-property(top);
			@include transition-timing-function(ease);
			@include transition-duration(0.750s);
			
			& h3 {
				color:$white;
				padding-top: $small-gutter;
				line-height:1em;
			}
		}
	}
}

.hidden-scroll-anchor {
	height:0;
	position:absolute;
	overflow:hidden;
}

/* ------------------------ */
/* ------Contact Form------ */
/* ------------------------ */


.contact {
	text-align:center;
	padding:16px;
	background-color: $charcoal;
}

.contactTitle {
	display:inline-block;
}

.contactTitle h2 {
	font-size:1.5em;
	color: #fff;
}

.contactQuarter {
	display:inline-block;
	width:$quarter;
	text-align:left;
    margin: #{$med-gutter / 2};
    margin-bottom:0;
}

.contactQuarter h4 {
	color:#fff;	
}

input {
    font-family:"OpenSansLt";
    font-size:.95em;	
    background-color:transparent;
    color:#fff;
    padding-left:4px;
    @include input-placeholder {
    	color:#ddd;
    }
    border: 1px $blue solid;
}

.contactAreaQuarter {
	width:100%;
	height:32px;
}

.contactHalf {
	display:inline-block;
	width:$quarter;
    text-align:left;
    margin: #{$med-gutter / 2};
    margin-bottom:0;
}

.contactHalf h4 {
	color:#fff;	
}

.contactAreaHalf {
    width:100%;
    height:32px;
}

textarea {
    font-family:"OpenSansLt";
    font-size:.95em;    
    min-height:48px;	
    background-color:transparent;
    color:#fff;
    padding-left:4px;
    @include input-placeholder {
    	color:#ddd;
    }
    border: 1px $blue solid;
}

.submitButton {
	padding-top:7px;
	border:1px solid $blue;
	color:$white;
	margin: #{$med-gutter / 2} auto;
	box-sizing:border-box;
	min-height:32px;
	background-color:transparent;
	width:#{$quarter / 2};
}

.submitButton:hover	{
	cursor:pointer;
	border:1px solid #fff;
	color:#fff
}

.form-success {
	color:#fff;
}



@media all and ($media-break-1) {
	ul.tile-featured-products {
		position:relative;
		display:block;
		width:#{($quarter * 2) + ($med-gutter * 2)};
		height:100%;
		min-height:#{($quarter * 1.5 + $med-gutter) * 2};
		margin-left:auto;
		margin-right:auto;
		
		
		& > li {
			display:block;
			width:calc( 50% - $med-gutter );
			height:calc( 50% - $med-gutter );
			display: block;
			position:absolute;
			
			@include transition-duration(0.750s);
			 
			/* & > div {
				display:none;
			}*/
		}
		
		/*	Handle the focus with :target ... or not	*/
		& > li:target, & > li.clicked {
			width:#{($quarter * 2) + ($med-gutter * 2)};
			height:#{($quarter * 1.5 + $med-gutter) * 2};
			margin:0;
			left:auto;
			z-index: 3;
			
			/* & > * {
				display:block;
			}*/
			& .shader {
				bottom:calc(#{($quarter * 1.5) * 2 + $med-gutter} - 55px);
			}
		}
		/*	First 4 tiles styles!	*/
		& > li:nth-child(1) {
			top:0;
			left:0;
		}
		& > li:nth-child(2) {
			top:0;
			right:0;
		}
		& > li:nth-child(3) {
			bottom:0;
			left:0;
		}
		& > li:nth-child(4) {
			bottom:0;
			right:0;
		}
	}
}

.f4 {
	display:none;
}

@media (min-width:575px) {
	.two { 
		& li:first-child {
		}
		
		& li:nth-child( -n + 8 ) {
			display:block;	
		}
		
		& li:nth-child(2) {
			padding-top: #{ $med-gutter / 2 };
			border-top:$blue 1px solid;
		}
	}
	
	#contactForm {
		max-width:#{$quarter * 2 + $med-gutter * 2.5};
		margin-left:auto;
		margin-right:auto;
	}
	
	.contactHalf {
		width:#{$quarter * 2 + $med-gutter};
		height:104px;
	}
	
	.contactAreaHalf {
		height:80px;
	}
	
	.enrollButton {
		margin-left:auto;
		/*margin-left:calc(50% - #{$quarter * 2 + $med-gutter} / 2);*/
	}
	
	.four > h1 {
		margin-bottom:#{$med-gutter};
	}
	
	li a p {
		display:inline-block;
		padding:#{$med-gutter};
	}
}
@media (min-width:575px) and (max-width:850px) {
	.two ul {
	width: calc(2 * #{$quarter} + #{$med-gutter} * 2);
		
		& li {
			@include flex(1 calc(50% - #{$med-gutter}));
		}
	}
	
	.featured {
		&.f4 {
			display:inline-block;
		}
	}
	
}

@media (min-width:850px) and (max-width:1107px) {
	.two ul {
		width: calc(3 * #{$quarter} + #{$med-gutter} * 3);
	}
	
	.two {
		& ul li {
			@include flex(1 calc(33% - #{$med-gutter}));
			
			&:nth-child(3) {
				padding-top: #{ $med-gutter / 2 };
				border-top:solid $blue 1px;
				
				&:after {
				}
			}
		}
		
		& li:nth-child(n) {
			display:block;
		}
		
		/*& li:nth-child {
			padding-top:$med-gutter;
			border-top:$blue 1px solid;
			top:-1px; 
		}*/	
	}
	
	.featured {
		&.f4 {
			display:none;
		}
	}
	
}

@media (min-width:1107px) {
	ul.tile-featured-products {
		width:calc( ( #{$quarter} + #{$med-gutter} ) * 3 );
		
		& > li:nth-child(-n + 7){
			display:inline-block;
		}
		& > li:nth-child(n){
			position:absolute;
		}
		& > li:nth-child(3n - 2) {
			left:0;
		}
		& > li:nth-child(3n - 1) {
			left: calc(#{$quarter} + 1 * #{$med-gutter});
		}
		& > li:nth-child(3n) {
			right:0;
			left:auto;
		}
		& > li:nth-child(-n + 3) {
			top:0;
		}
		& > li:nth-child(n + 4) {
			bottom:0;
		}
		& > li {
			@include transition-duration(0.750s);
			
			& a p {
				
				padding:#{$med-gutter * 2};
			}
		}
		/*	Handle the focus with :target ... or not	*/
		& > li.clicked:target, & > li.clicked {
			width:calc( ( #{$quarter} + #{$med-gutter} ) * 3 );
			height:#{($quarter * 1.5 + $med-gutter) * 2};
			left:0;
			
			padding: #{$med-gutter * 2};
		}
		& > li:nth-child(3n):target, & > li.clicked:nth-child(3n) {
			left:initial;
			right:0;	
		}
	}
	.two {
		& ul {
			width: calc(4 * #{$quarter} + #{$med-gutter} * 3);
		
			& li {
				@include flex(1 calc(25% - #{$med-gutter}));
				
				&:nth-child(-n + 4) {
					padding-top: #{ $med-gutter / 2 };
					border-top:solid $blue 1px;
				}
				&:nth-child(9) {
					display:none;
				}
			}
		}
	}
}


























