@CHARSET "ISO-8859-1";

@mixin input-placeholder {
		&.placeholder { @content; }
		&:-moz-placeholder { @content; }
		&::-moz-placeholder { @content; }
		&:-ms-input-placeholder { @content; }
		&::-webkit-input-placeholder { @content; } 
}

@import "foundation/settings";
@import "foundation/components/offcanvas";

@import "transform/animateReplace.jquery";

@import "font-awesome";
@import "font-awesome/variables";

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328; 
$purple: #2a1f26;
$white: #f9f9f9;
$blue: #66B9E3;
$charcoal: #323232;

$quarter: 13.8125em;
$med-gutter: 2.01em;
$med-small-gutter: 1.245em;
$small-gutter: 0.769em;

$default-text-shadow-color: rgba(70,70,70,.5);
$default-text-shadow-blur: 6px;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-h-offset: 2px;

$OpenSans: "OpenSans", "OpenSans_IE";
$OpenSansLt: "OpenSansLt", "OpenSansLt_IE";

@include font-face("OpenSans", font-files("../../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf", "../fonts/OpenSans-regular.ttf"));
@include font-face("OpenSansLt", font-files("../../fonts/opensans-light-webfont.ttf", "../fonts/opensans-light-webfont.woff", "../fonts/opensans-light-webfont.eot", "../fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLt_IE", font-files("../../fonts/opensans-light-webfont.ttf", "../fonts/opensans-light-webfont.woff", "../fonts/opensans-light-webfont.eot", "../fonts/opensans-light-webfont.svg"));
@include font-face("OpenSansLtCn", font-files("../fonts/OpenSans-CondLight.ttf", "examples/bgrove.otf"));
@include font-face("OpenSans_IE", font-files("../fonts/opensans-regular-webfont.eot", "examples/bgrove.otf"));



html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:$OpenSansLt;
}

div, figure, ul, li {
	padding:0;
	margin:0;
	border:0px;
	@include box-sizing(border-box)
	
}

.section {
		
}

p {
	margin:0;
	padding:0;
	@include box-sizing(border-box)
}

h1, h2, h3, h4 {
	font-family:$OpenSansLt;
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:0;
	@include box-sizing(border-box);
	display:block;
}

h1 {
	font-size:1.85em;
}

h2 {
	font-size:1.4em;
}

h3 {
	font-size:1.25em;
}

/////////////////////////////////////
//////// End Standard Reset /////////
/////////////////////////////////////

.stripe {
	text-align:center;
	position:relative;
	padding:$med-gutter;
	padding-bottom: calc( #{$med-gutter} * 2 );
}

.one {
	background-color:lightgrey;
	min-height:500px;
}

.one h2 {
	
}

.one h1 {
	
}

.arrow {
	background-color:$red;
	height:32px;
	width:110px;
	position:absolute;
	bottom:0;
	left:calc(50% - 55px);
	margin-bottom:$small-gutter;
	
}

.two {
	
}

.two h2 {
	max-width:300px;
	margin:0 auto;
}

.two ul {
	list-style-type:none;
	margin:0 auto;
	width:$quarter;
	margin-top:$med-gutter;
		
}

.two li {
	display:block;
	margin-top:$med-gutter;
	font-size:1.2em;
	line-height:1.2em;
	text-align:left;
	
	&:first-child {
	border-top: $blue 1px solid;
	padding-top:$med-gutter;
	
	}
}

.two li:nth-child( n + 5 ) {
	display:none;
}

.three {
	background-color:lightgrey;
}

.three h2:first-child {
	margin-bottom:$small-gutter;
}

.four h2 {
	
}

.featured {
	width:$quarter;
	height:calc( 1.5 * #{$quarter});
	display: inline-block;
	margin:calc(#{$med-gutter} / 2);
	position:relative;
	
	&.f1 {
		background-color:teal;
	}
	
	&.f2 {
		background-color:$yellow;
	}
	
	&.f3 {
		background-color:grey;
	}
	
	&.f4 {
		background-color:$red;
	}
}

.f4 {
	display:none;
}

.shader {
	position:absolute;
	bottom:0;
	width:100%;
	height:55px;
	background-color:rgba($charcoal, .55);
	
	& h3 {
		color:#fff;
		padding-top:$small-gutter;
		line-height:1em;
	}
}
@media (min-width:575px) {
	.two { 
		& li:first-child {
			margin-top:0;
		}
		
		& li:nth-child( n + 5 ) {
			display:block;	
		}
	}
}
@media (min-width:575px) and (max-width:850px) {
	.two ul {
	width: calc(2 * #{$quarter} + #{$med-gutter});
	@include column-count(2);
	@include column-gap($med-gutter);
	}
	
	.two {		
		& li:nth-child(5) {
			padding-top:$med-gutter;
			border-top:$blue 1px solid;
		}
	
	}
	
	.featured {
		&.f4 {
			display:inline-block;
		}
	}
	
}

@media (min-width:850px) and (max-width:1200px) {
	.two ul {
		width: calc(3 * #{$quarter} + #{$med-gutter} * 2);
		@include column-count(3);
		@include column-gap($med-gutter);
	}
	
	.two {
		& li:nth-child(n + 7) {
			display:none;
		}
		
		& li:nth-child(2n+1) {
			padding-top:$med-gutter;
			border-top:$blue 1px solid;
		}
		
		& li:nth-child(4) {
			margin-bottom:3em;
		}
	
	}
	
	.featured {
		&.f4 {
			display:none;
		}
	}
	
}


























